<!doctype html>
<html lang="en" ng-app="ToDo">

<head>

  <meta charset="UTF-8">
  <title>todo</title>
  <style>
  .done{text-decoration: line-through;color:#ccc;}
  </style>
</head>

<body>

	<div ng-controller="todoController">
		{{newTodo}}
		<form name="frm" ng-submit="addTodo()">
			<input type="text" name="newTodo" ng-model="newTodo" required />
			<button ng-disabled="frm.$invalid">Go</button>
		</form>
		<button ng-click="clearCompleted()">Clear Completed</button>
		
		
		<ul>
			<li ng-repeat="todo in todos">
				<input type="checkbox" ng-model="todo.done" />
				<span ng-class="{'done':todo.done}">{{todo.title}}</span>

			</li>
			
		</ul>
	</div>
		
<script src="bower_components/angular/angular.min.js"></script>

<script>
		
angular.module('ToDo',[]). //no dependancies
controller('todoController',['$scope',function($scope){
  
	$scope.hello = function(name){
	
		alert(name);
	};

	$scope.todos = [
		{'title': 'Build a todo app','done':false},
		{'title': 'Say Hello','done':false}
	];

	$scope.addTodo = function(){
		$scope.todos.push({'title':$scope.newTodo,'done':false})
		$scope.newTodo = ''
	}
	$scope.clearCompleted = function(){
		$scope.todos = $scope.todos.filter(function(item){
			return !item.done
		})


	}
}]) //create controller. inject scope and use scope by creating function
			//create a list of todos as an array, A todo will be an object that needs a title. then we give the title a status of whether or not it's done and in the first case say it is false because we have not built it yet
			//then we create methods



</script>
 
</body>
</html>		